.searchForm__btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 17px;
    margin-right: 19px;
    background-image: url(../../../images/find.svg);
    background-size: 34px;
    background-repeat: no-repeat;
}