.promo__heading-container {
    display: flex;
    min-height: 320px;
    align-items: center;
    background-image: url(../../../images/Promo_logo.png);
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: center;
}