.App {
  max-width: 1440px;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  background-color: #FAFAFA;
  margin: auto;
  position: relative;
}

body.navigation__active {
  overflow-y: hidden;
}